html,body {
  width: 1440px;
  height: 1024px;
  background-image: url("img/image 19.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  transform: translate3d(0, 0, scroll-y);
}

.buttons {
  width: 366px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 100px;
  background-color: #084059;
  opacity: 0.8;
  border: none;
  font-size: 30px;
  cursor: pointer;

}

.header-buttons {
  display: flex;
  justify-content: flex-end;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  
}

.header-buttons img {
  padding-right: 530px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.buttons-container {
  width: 918px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 1000px;
  background-color: #084059;
  opacity: 0.8;
  border: none;
  font-size: 30px;
}

.buttons-container p {
  font-family: 'Marmelad', sans-serif;
  font-size: 40px;
}


