.quienes-somos {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.quienes-somos .overlap-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
}

.quienes-somos .overlap {
  position: relative;
  height: 1024px;
  background-image: url(https://c.animaapp.com/ItMyqexo/img/image-16.png);
  background-size: cover;
  background-position: 50% 50%;
}

.quienes-somos .ellipse {
  position: absolute;
  width: 513px;
  height: 439px;
  top: 294px;
  left: 454px;
  object-fit: cover;
}

.quienes-somos .home {
  position: absolute;
  width: 357px;
  height: 69px;
  top: 43px;
  left: 527px;
}

.quienes-somos .overlap-group {
  position: relative;
  width: 355px;
  height: 69px;
  background-image: url(https://c.animaapp.com/ItMyqexo/img/rectangle-2.svg);
  background-size: 100% 100%;
}

.quienes-somos .text-wrapper {
  position: absolute;
  width: 252px;
  top: 10px;
  left: 43px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.quienes-somos .proyecto {
  position: absolute;
  width: 372px;
  height: 69px;
  top: 138px;
  left: 519px;
}

.quienes-somos .div-wrapper {
  position: relative;
  width: 370px;
  height: 69px;
  background-image: url(https://c.animaapp.com/ItMyqexo/img/rectangle-2-1.svg);
  background-size: 100% 100%;
}

.quienes-somos .div {
  position: absolute;
  width: 263px;
  top: 14px;
  left: 45px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.quienes-somos .martin {
  position: absolute;
  width: 369px;
  height: 370px;
  top: 575px;
  left: 1004px;
}

.quienes-somos .overlap-2 {
  position: absolute;
  width: 367px;
  height: 89px;
  top: 281px;
  left: 0;
  background-image: url(https://c.animaapp.com/ItMyqexo/img/rectangle-4.svg);
  background-size: 100% 100%;
}

.quienes-somos .martin-guimpel {
  position: absolute;
  width: 260px;
  top: 15px;
  left: 62px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.quienes-somos .span {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
}

.quienes-somos .text-wrapper-2 {
  font-size: 15px;
}

.quienes-somos .image {
  left: 64px;
  position: absolute;
  width: 240px;
  height: 244px;
  top: 0;
  object-fit: cover;
}

.quienes-somos .tomas {
  position: absolute;
  width: 369px;
  height: 370px;
  top: 30px;
  left: 1004px;
}

.quienes-somos .tomas-porres {
  top: 12px;
  left: 53px;
  position: absolute;
  width: 260px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.quienes-somos .IMG {
  position: absolute;
  width: 248px;
  height: 252px;
  top: 0;
  left: 60px;
  object-fit: cover;
}

.quienes-somos .joel {
  position: absolute;
  width: 369px;
  height: 370px;
  top: 575px;
  left: 20px;
}

.quienes-somos .joel-solaeche {
  top: 15px;
  left: 45px;
  position: absolute;
  width: 260px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.quienes-somos .IMG-wa {
  position: absolute;
  width: 240px;
  height: 244px;
  top: 0;
  left: 49px;
  object-fit: cover;
}

.quienes-somos .zoilo {
  position: absolute;
  width: 369px;
  height: 356px;
  top: 43px;
  left: 19px;
}

.quienes-somos .zoilo-guzman-wrapper {
  position: absolute;
  width: 367px;
  height: 89px;
  top: 267px;
  left: 0;
  background-image: url(https://c.animaapp.com/ItMyqexo/img/rectangle-2-2.svg);
  background-size: 100% 100%;
}

.quienes-somos .zoilo-guzman {
  position: absolute;
  width: 260px;
  top: 13px;
  left: 47px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.quienes-somos .img {
  left: 50px;
  position: absolute;
  width: 240px;
  height: 244px;
  top: 0;
  object-fit: cover;
}

.ellipse:hover{
  border-color: blue;
  border-radius: 200px;
  background-color: lightseagreen ;
}